* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contenedor {
    margin-top: 3rem;
    height: 100%;
    width: 100%;
    display: grid;
}

.caja {
    height: 100%;
    width: 80%;
    background-color: blanchedalmond;
    justify-self: center;
    align-self: center;
    padding: 3rem;
}

h2 {
    text-align: center;
}